html {
  height: 100%; }

body {
  background-color: #eee;
  min-height: 100%;
  height: 100%; }
  body .contentArea {
    width: 100%;
    height: 100%; }
    body .contentArea .lateralPanel {
      background-color: #bbb;
      height: 100%; }
